/* assets/css/home.css */

/* ANIMATION TEXTE BIENVENUE */
#typewriter {
    /* color: #0077cc; */
    font-family: 'Fira_Code', sans-serif;
    font-size: 2.5rem;
    /* border-right: 2px solid #0077cc; Curseur clignotant */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

/* ICON DEVICON POUR LANGUAGES */
.icon-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.icon-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* font-size: 1rem; */
}

.icon-item i {
    font-size: 4rem; 
    margin-bottom: 10px; 
}


/* ACCEUIL SCROLL */
.hero-section {
    height: 100vh; /* Prend toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
    background-color: var(--bg-color);
}

.hero-content {
    max-width: 800px;
}

#welcome-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#welcome-subtitle {
    font-size: 1.5rem;
    /* margin-bottom: 3rem; */
}

/* Style pour la flèche de défilement */
.scroll-indicator {
    position: absolute;
    bottom: 6rem;
    left: 0;
    right: 0;
    text-align: center;
}

.scroll-down-arrow {
    font-size: 2rem;
    color: var(--primary-color); 
    transition: all 0.3s ease;
}

.scroll-down-arrow:hover {
    color: var(--accent-color); 
    transform: translateY(5px);
}

/* Animation de rebond pour la flèche */
.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

/* Style pour les sections de contenu */
.content-section {
    padding: 5rem 2rem;
    min-height: 100vh;
}

/* FONDU POUR LES TITRE H2 */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}


/* INTRO GALAXY ANIME */
.animated-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(125deg, #202020, #2c2c2c, #1a1a1a, #2c2c2c, #202020);

    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    z-index: -2;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}