/* assets/css/style.css */

/* Load Fira_Code font */
@font-face {
    font-family: 'Fira_Code';
    src: url('../fronts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Fira_Code', sans-serif;
    color: #ffffff;
    /* background: url('../images/background/ocean.jpg') center/cover fixed no-repeat; */
    background-color: #2c2c2c; /* Fond gris foncé */
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Reset margins and paddings */
h1 {
    margin-top: 5rem;
    /* margin-bottom: 1rem; */
    padding: 0;
    text-align: center;
    font-family: 'Fira_Code', sans-serif;
    font-size: 2rem;
}

h2 {
    margin: 10;
    margin-top: 6rem;
    padding: 0;
    text-align: center;
    font-family: 'Fira_Code', sans-serif;
    font-size: 1.7rem;
}

h3 {
    margin: 10;
    margin-top: 1rem;;
    padding: 0;
    text-align: center;
    font-family: 'Fira_Code', sans-serif;
    font-size: 1.3rem;
}

h4 {
    margin: 10;
    margin-top: 1rem;;
    padding: 0;
    text-align: center;
    font-family: 'Fira_Code', sans-serif;
    font-size: 1rem;
}

h5, h6, p, a {
    margin: 10;
    padding: 0;
    text-align: center;
    font-family: 'Fira_Code', sans-serif;
}

p {
    color: #d3d1d1;
    margin: 0;
    padding: 0; 
    text-align: center;
    font-family: 'Fira_Code', sans-serif;
    line-height: 1.5; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #f0c674;
    text-decoration: underline;
}

/* Navigation Styling */
.navigation {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #202020;
    margin-bottom: 1px;
    border-radius: 15px;

}

.nav-link {
    padding: 10px 10px;
}

.nav-link:hover {
    background-color: #2c2c2c;
    padding: 10px 10px;
    border-radius: 10px;
}

/* Footer Styling */
footer {
    background-color: #202020;
    padding: 15px 0;
    text-align: center;
    margin-top: 200px;
    border-radius: 15px;

}

.footer-links {
    margin: 15px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-links a {
    color: #d3d1d1;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ffffff;
}

.copyright {
    font-size: 0.9rem;
    text-align: center;
    color: #d3d1d1;
}

.about-container {
    text-align: center; 
    margin-top: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-item {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 1rem;
}

.icon-item i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.home {
    line-height: 1.5;
    text-align: center;
}


/* ICON DEVICON POUR LANGUAGES */

.icon-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.icon-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* font-size: 1rem; */
}

.icon-item i {
    font-size: 4rem; 
    margin-bottom: 10px; 
}


/* TIMEQUEST IMG */

.project-logo {
    width: 130px; 
    height: auto; 
    margin: 15px 0; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* 42 LOGO */
.quarantedeux-logo {
    width: 100px;
    height: auto;
    margin: 15px 0;
}

/* CARROUSEL */

.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.carousel-item {
    text-align: center;
    max-width: 75%; 
    margin: 0 auto;
}
