/* assets/css/style.css */

/* Load Oswald font */
@font-face {
    font-family: 'Oswald';
    src: url('../fronts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background: url('../images/background/ocean.jpg') center/cover fixed no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Reset margins and paddings */
h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

h2 {
    margin: 10;
    padding: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
}

h3 {
    margin: 10;
    margin-top: 1rem;;
    padding: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}

h4 {
    margin: 10;
    margin-top: 1rem;;
    padding: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

h5, h6, p, a {
    margin: 10;
    padding: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #d3d1d1;
    margin: 0;
    padding: 0; 
    text-align: center;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #f0c674;
    text-decoration: underline;
}

/* Navigation Styling */
.navigation {
    list-style: none;
    margin: 0;
    padding: 1px 0;
    display: flex;
    justify-content: space-around;
    background-color: #0487b5;
    margin-bottom: 42px;
}

.nav-link {
    padding: 10px 20px;
}

.nav-link:hover {
    background-color: #04427c;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    background-color: #3d3434;
    padding: 2px 0;
    text-align: center;
    margin-top: 200px; /* Espace entre le contenu et le footer */
}

.footer-links {
    margin: 15px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-links a {
    color: #d3d1d1;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ffffff;
}

.copyright {
    font-size: 0.9rem;
    text-align: center;
    color: #d3d1d1;
}

.about-container {
    text-align: center; 
    margin-top: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-item {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 1rem;
}

.icon-item i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.home {
    margin-bottom: 3rem; 
    line-height: 1.5;
}
