<!-- templates/about.html -->

<main>
    <section class="about">
        <div class="about-container">
            <img src="assets/images/icons/abonnefo.jpg" alt="Photo de Anne-Gaëlle BONNEFOY" class="profile-pic">

            <h6 class="fade-in">📍 Développeuse web basée à Toulouse</h6>
            <h6 class="fade-in">📅 Disponible immédiatement pour un stage ou un poste junior en développement web</h6>

            <h1 class="fade-in">À propos de moi</h1>
            <p class="fade-in">J'ai terminé le tronc commun de l’école 42 après avoir entamé ma reconversion fin 2022.</p>
            <br>
            <p class="fade-in">🛠️ Lors de mes anciens postes, j'ai acquis de solides expériences en gestion de projets et en gestion financière.</p>
            <br>
            <p class="fade-in">💡 Mon objectif principal est de fusionner mes compétences en gestion avec mes nouvelles compétences en développement pour créer des solutions technologiques innovantes et efficaces.</p>
            <br>
            <p class="fade-in">🌍 Je suis passionnée par l'impact positif que la technologie peut avoir sur la société et je suis déterminée à contribuer à des projets qui font une réelle différence.</p>

            <h1 class="fade-in">Qualités principales ✨ :</h1>
            <p class="fade-in">✅ Minutieuse et sérieuse</p>
            <p class="fade-in">✅ Autonome</p>
            <p class="fade-in">✅ Forte capacité d'adaptation</p>

            <h1 class="fade-in">Langues 🌎 :</h1>
            <p class="fade-in">🇫🇷 Français : langue natale</p>
            <p class="fade-in">🇬🇧 Anglais : bonnes notions (TOEIC 760)</p>
            <p class="fade-in">🇪🇸 Espagnol : notions scolaires</p>

            <h1 class="fade-in">Loisirs 🎨 :</h1>
            <p class="fade-in">✈️ Voyages</p>
            <p class="fade-in">🏞️ Randonnées</p>
            <p class="fade-in">🏃‍♀️ Course à pied</p>

            <h1 class="fade-in">Réseaux 🌐 :</h1>
            <p class="fade-in">
                <a href="https://github.com/AGaelleB" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                <a href="https://www.linkedin.com/in/anne-gaëlle-bonnefoy-3b7348107/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
            </p>

            <ul class="footer-links">
            </ul>
        </div>
    </section>

    <!-- Section CV -->
    <section class="cv">
        <div class="cv-container">
            <h1 class="fade-in">📄 Mon CV :</h1>
            <br>
            <a href="assets/files/CV_AnneGaelleBonnefoy.pdf" download class="btn-download">📥 Télécharger mon CV</a>
        </div>
    </section>
</main>
