<!-- templates/about.html -->
 
<main>
    <section class="about">
        <div class="about-container">
            <img src="assets/images/icons/abonnefo.jpg" alt="Photo de Anne-Gaëlle BONNEFOY" class="profile-pic">
        <h1 class="fade-in">À propos de moi</h1>
            <p class="fade-in">J'ai termimné le tronc commun de l’école 42 après avoir entamé ma reconversion fin 2022.</p>
            <p class="fade-in">Lors de mes anciens postes, j'ai acquis de solides expériences en gestion de projets et en gestion financière.</p>
            <p class="fade-in">Mon objectif principal est de fusionner mes compétences en gestion avec mes nouvelles compétences en développement pour créer des solutions technologiques innovantes et efficaces.</p>
            <p class="fade-in">Je suis passionnée par l'impact positif que la technologie peut avoir sur la société et je suis déterminée à contribuer à des projets qui font une réelle différence.</p>

        <h1 class="fade-in">Qualitées principales :</h1>
            <p class="fade-in">Minutieuse et sérieuse</p>
            <p class="fade-in">Autonome</p>
            <p class="fade-in">Forte capacité d'adaptation</p>

        <h1 class="fade-in">Langues :</h1>
            <p class="fade-in">Français : langue natale</p>
            <p class="fade-in">Anglais : bonnes notions (TOEIC 760)</p>
            <p class="fade-in">Espagnol : notions scolaires</p>

        <h1 class="fade-in">Loisirs :</h1>
            <p class="fade-in">Voyages</p>
            <p class="fade-in">Randonées</p>
            <p class="fade-in">Course à pied</p>

        </div>
    </section>
</main>
