<!-- templates/about.html -->
 
<main>
    <section class="about">
        <div class="about-container">
            <img src="assets/images/icons/abonnefo.jpg" alt="Photo de Anne-Gaëlle BONNEFOY" class="profile-pic">
        <h1>À propos de moi</h1>
            <p>J'ai termimné le tronc commun de l’école 42 après avoir entamé ma reconversion fin 2022.</p>
            <p>Lors de mes anciens postes, j'ai acquis de solides expériences en gestion de projets et en gestion financière.</p>
            <p>Mon objectif principal est de fusionner mes compétences en gestion avec mes nouvelles compétences en développement pour créer des solutions technologiques innovantes et efficaces.</p>
            <p>Je suis passionnée par l'impact positif que la technologie peut avoir sur la société et je suis déterminée à contribuer à des projets qui font une réelle différence.</p>

        <h1>Qualitées principales :</h1>
            <p>Minutieuse et sérieuse</p>
            <p>Autonome</p>
            <p>Forte capacité d'adaptation</p>

        <h1>Langues :</h1>
            <p>Français : langue natale</p>
            <p>Anglais : bonnes notions (TOEIC 760)</p>
            <p>Espagnol : notions scolaires</p>

        <h1>Loisirs :</h1>
            <p>Voyages</p>
            <p>Randonée</p>
            <p>Course à pied</p>

        </div>
    </section>
</main>
