<!-- templates/contact.html -->

<main>
    <section class="about">
        <h1>Contact</h1>
        <h4>Si mon profil vous intéresse, je serais ravie d'échanger avec vous. Vous pouvez me contacter via :</h4>
        <p>
            <i class="bi bi-envelope-fill"></i> 
            <a href="mailto:annegaelle.bonnefoy@gmail.com">annegaelle.bonnefoy@gmail.com</a>
        </p>
        <p>
            <i class="bi bi-telephone-fill"></i> 
            <a href="tel:+33636703636">06 36 70 36 36</a>
        </p>
    </section>
</main>

