<!-- templates/contact.html -->

<main>
    <section class="about">
        <h1 class="fade-in" data-i18n="contact.title">Contact</h1>
    
        <h4 class="fade-in" data-i18n="contact.intro">Si mon profil vous intéresse, je serais ravie d'échanger avec vous. Vous pouvez me contacter via :</h4>
    
        <p class="fade-in">
            <i class="bi bi-envelope-fill"></i> 
            <a href="mailto:annegaelle.bonnefoy@gmail.com">annegaelle.bonnefoy@gmail.com</a>
        </p>
    </section>
</main>