<!-- templates/home.html -->

<section class="home">
    <h1>Bienvenue dans mon Portfolio</h1>
    <p>Découvrez mes projets réalisés lors de ma formation à l'École 42 et plus encore !</p>
</section>

<!-- mettre une image -->

<!-- LANGUAGES -->

<h1>Langages & Technologies :</h1>
<ul class="icon-list">
    <li class="icon-item">
        <i class="devicon-c-plain" style="color: #A8B9CC;" title="C"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-cplusplus-plain" style="color: #00599C;" title="C++"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-javascript-plain" style="color: #F7DF1E;" title="JavaScript"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-bootstrap-plain" style="color: #7952B3;" title="Bootstrap"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-css3-plain" style="color: #1572B6;" title="CSS"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-html5-plain" style="color: #E34F26;" title="HTML"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-typescript-plain" style="color: #3178C6;" title="TypeScript"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-react-original" style="color: #61DAFB;" title="React Native"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-git-plain" style="color: #F05032;" title="Git"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-github-original" style="color: #181717;" title="GitHub"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-docker-plain" style="color: #2496ED;" title="Docker"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-bash-plain" style="color: #4EAA25;" title="Bash"></i>
    </li>
    <li class="icon-item">
        <i class="devicon-linux-plain" style="color: #FCC624;" title="Shell"></i>
    </li>
</ul>



<section class="home">
    <h2>Projet personnel :</h2>

    <section id="timequest-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex flex-column align-items-center">
              <!-- <h3>TimeQuest</h3> -->
              <img src="assets/images/icons/TimeQuest.png" alt="Logo TimeQuest" class="project-logo">
              <p>TimeQuest est un jeu mobile où les joueurs doivent deviner le plus rapidement possible la date d'événements marquants. Jouable en solo ou en multijoueur.</p>
              <p>[...Ce projet est encore en cours de réalisation...]</p>
            </div>
          </div>
        </div>
    </section>

</section>


<section class="home">
    <!-- <h2>Projets réalisés à l'École 42 Paris:</h2>
    <img src="assets/images/icons/42w.png" alt="Logo 42" class="quarantedeux-logo"> -->
    <h2>Projets réalisés à l'École <img src="assets/images/icons/42w.png" alt="Logo 42" class="quarantedeux-logo"> :</h2>

  <section id="project-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex flex-column align-items-center">
          <h3>Libft</h3>
          <p>Développement d'une bibliothèque standard en C, recréant des fonctions de base pour renforcer la compréhension des mécanismes du langage</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Ft_printf</h3>
          <p>Réalisation d'une version personnelle de la fonction printf, mettant en avant la gestion des formats et la manipulation avancée de chaînes en C</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Get_next_line</h3>
          <p>Création d'une fonction pour lire une ligne d'un fichier à la fois, un défi pour comprendre la gestion des buffers en C</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Born2beroot</h3>
          <p>Projet d'administration système, avec installation et configuration d'une machine virtuelle sécurisée</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>So_long</h3>
          <p>Jeu 2D simple en C, combinant gestion d'événements, logique de jeu, et affichage graphique avec la bibliothèque MiniLibX</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Push_swap</h3>
          <p>Algorithmes de tri en C, avec optimisation pour trier une pile avec un minimum de mouvements</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Pipex</h3>
          <p>Implémentation d'une version simplifiée de pipelines Unix, afin de maitriser la gestion des processus et des redirections en C</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Philosophers</h3>
          <p>Simulation du problème des philosophes mangeurs, explorant la programmation concurrente et la gestion des threads</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Minishell</h3>
          <p>Création d'un shell en C (gestion des commandes, pipes, redirections, ...)</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>NetPractice</h3>
          <p>Projet d'initiation sur les concepts fondamentaux des systèmes réseaux</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Cub3D</h3>
          <p>Jeu en 3D inspiré de Wolfenstein, utilisant des techniques de raycasting pour afficher un monde immersif</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Piscine C++</h3>
          <p>Introduction à la programmation orientée objet avec C++, couvrant ses bases et fonctionnalités avancées</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Ft_irc</h3>
          <p>Implémentation d'un serveur IRC en C++ permettant une communication en réseau et une gestion de clients multiples</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Inception</h3>
          <p>Configuration et orchestration de conteneurs Docker pour une infrastructure de développement en réseau</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-column align-items-center">
          <h3>Ft_transcendence</h3>
          <p>Projet final de réalisation d'un jeu pong et intégration de fonctionnalités avancées</p>
        </div>
      </div>
    </div>

    <!-- Boutons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</section>
  
