<!-- templates/home.html -->

<!-- SECTION HERO PLEIN ÉCRAN -->
<section class="hero-section">

  <!-- Fond animé Galaxie-->
  <div class="animated-background"></div>
  <div id="particles-js"></div>
  
  <!-- Message d'accueil -->
  <div class="hero-content">
      <h1 id="welcome-title"></h1>
      <p id="welcome-subtitle"></p>
      <div class="scroll-indicator">
          <!-- <a href="#content-home-section" class="scroll-down-arrow"> -->
          <a href="#content-me-section" class="scroll-down-arrow">
              <i class="fas fa-chevron-down bounce"></i>
          </a>
      </div>
  </div>
</section>



<!-- A PROPOS DE MOI -->
<section id="content-me-section" class="fade-in about">
  <div class="fade-in about-container">
      <h1about class="fade-in h1about">À propos de moi :</h1about>

      <!-- Dispo et localisation -->
      <section class="fade-in about">
          <div class="fade-in about-container">
              <br>
              <h3 class="fade-in">📍 Basée à Toulouse</h3>
              <h3 class="fade-in">📅 Disponible immédiatement pour un stage ou un poste junior en développement web</h3>
              <br>
          </div>
      </section>
      <div class="fade-in qualities-section">
          <div class="fade-in quality-card-title">
              <img src="assets/images/icons/abonnefo.jpg" alt="Photo de profil" class="profile-image fade-in">
          </div>
          <div class="quality-card-full">
              <p class="fade-in">J'ai terminé le tronc commun de l’école 42 après avoir entamé ma reconversion fin 2022.</p>
              <br>
              <p class="fade-in">🛠️ Lors de mes anciens postes, j'ai acquis de solides expériences en gestion de projets et en gestion financière.</p>
              <br>
              <p class="fade-in">💡 Mon objectif principal est de fusionner mes compétences en gestion avec mes nouvelles compétences en développement pour créer des solutions technologiques innovantes et efficaces.</p>
              <br>
              <p class="fade-in">🌍 Je suis passionnée par l'impact positif que la technologie peut avoir sur la société et je suis déterminée à contribuer à des projets qui font une réelle différence.</p>
          </div>
      </div>
  </div>
</section>



<!-- QUALITÉS, LANGUES, LOISIRS, RÉSEAUX -->
<section class="fade-in qualities-section">
  <div class="fade-in quality-card">
      <h1about class="fade-in h1about">Qualités principales</h1about>
      <p>✔️ Minutieuse et sérieuse</p>
      <p>✔️ Autonome</p>
      <p>✔️ Forte capacité d'adaptation</p>
  </div>
  <div class="fade-in quality-card">
      <h1about class="fade-in h1about">Langues</h1about>
      <p>🇫🇷 Français : langue natale</p>
      <p>🇬🇧 Anglais : bonnes notions (TOEIC 760)</p>
      <p>🇪🇸 Espagnol : notions scolaires</p>
  </div>
  <div class="fade-in quality-card">
      <h1about class="fade-in h1about">Loisirs</h1about>
      <p>✈️ Voyages</p>
      <p>🏞️ Randonnées</p>
      <p>🏃‍♀️ Course à pied</p>
  </div>
  <div class="fade-in quality-card">
      <h1about class="fade-in h1about">Réseaux</h1about>
      <a href="https://github.com/AGaelleB" target="_blank"><i class="fab fa-github"></i> GitHub</a>
      <a href="https://www.linkedin.com/in/anne-gaëlle-bonnefoy-3b7348107/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
  </div>
</section>



<!-- LANGUAGES & TECHNO -->
<section id="content-home-section" class="content-section">
  <div class="about-container">
    <h1about class="fade-in fade-in h1about">👉 Langages & Technologies :</h1about>


  <h5 class="fade-in">🖥️ Langages de programmation</h5>
  <ul class="icon-list">
      <li class="icon-item">
          <i class="fade-in devicon-c-plain" style="color: #A8B9CC;" title="C"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-cplusplus-plain" style="color: #00599C;" title="C++"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-javascript-plain" style="color: #F7DF1E;" title="JavaScript"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-typescript-plain" style="color: #3178C6;" title="TypeScript"></i>
      </li>
  </ul>

  <h5 class="fade-in">🎨 Front-end</h5>
  <ul class="icon-list">
      <li class="icon-item">
          <i class="fade-in devicon-html5-plain" style="color: #E34F26;" title="HTML"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-css3-plain" style="color: #1572B6;" title="CSS"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-bootstrap-plain" style="color: #7952B3;" title="Bootstrap"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-react-original" style="color: #61DAFB;" title="React"></i>
      </li>
  </ul>

  <h5 class="fade-in">⚙️ Back-end</h5>
  <ul class="icon-list">
      <li class="icon-item">
          <i class="fade-in devicon-docker-plain" style="color: #2496ED;" title="Docker"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-linux-plain" style="color: #FCC624;" title="Linux"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-bash-plain" style="color: #4EAA25;" title="Bash"></i>
      </li>
  </ul>

  <h5 class="fade-in">🛠️ Outils</h5>
  <ul class="icon-list">
      <li class="icon-item">
          <i class="fade-in devicon-git-plain" style="color: #F05032;" title="Git"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-github-original" style="color: #181717;" title="GitHub"></i>
      </li>
      <li class="icon-item">
          <i class="fade-in devicon-visualstudio-plain" style="color: #007ACC;" title="Visual Studio Code"></i>
      </li>
  </ul>
</section>



<!-- CV -->
<section class="cv">
  <div class="cv-container">
      <h1about class="h1about fade-in">📄 Mon CV :</h1about>
      <a href="assets/files/CV_AnneGaelleBonnefoy.pdf" download class="fade-in btn-download">📥 Télécharger mon CV</a>
  </div>
</section>

