<section class="projects-header">
    <h1 data-aos="fade-down" data-i18n="parcours.diplomas_title"></h1>
</section>

<section class="fade-in qualities-section">
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about" data-i18n="parcours.school_42"></h1about>
        <p data-i18n="parcours.school_42_location"></p>
        <p data-i18n="parcours.school_42_period"></p>
        <p data-i18n="parcours.school_42_info"></p>
    </div>
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about" data-i18n="parcours.master_title"></h1about>
        <p data-i18n="parcours.master_location"></p>
        <p data-i18n="parcours.master_period"></p>
    </div>
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about" data-i18n="parcours.license_title"></h1about>
        <p data-i18n="parcours.license_location"></p>
        <p data-i18n="parcours.license_period"></p>
    </div>
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about" data-i18n="parcours.bts_title"></h1about>
        <p data-i18n="parcours.bts_location"></p>
        <p data-i18n="parcours.bts_period"></p>
    </div>
</section>

<section class="projects-header">
    <h1 data-aos="fade-down" data-i18n="parcours.experience_title"></h1>
</section>

<section class="fade-in qualities-section">
    <div class="fade-in quality-card" style="border: 1px solid #3498db;">
        <h1about class="fade-in h1about" data-i18n="projects.japan_title"></h1about>
        <p data-i18n="parcours.japan_location"></p>
        <p data-i18n="projects.japan_period"></p>
        <br>
        <ul class="task-list" style="list-style-type: none; padding-left: 0;">
            <li data-i18n="parcours.japan_task_1"></li>
            <li data-i18n="parcours.japan_task_2"></li>
            <li data-i18n="parcours.japan_task_3"></li>
            <li data-i18n="parcours.japan_task_4"></li>
        </ul>
    </div>

    <div class="fade-in quality-card">
        <h1about class="fade-in h1about" data-i18n="parcours.fiacat_title"></h1about>
        <p data-i18n="parcours.fiacat_location"></p>
        <p data-i18n="parcours.fiacat_period"></p>
        <br>
        <ul class="task-list" style="list-style-type: none; padding-left: 0;">
            <li data-i18n="parcours.fiacat_task_1"></li>
            <li data-i18n="parcours.fiacat_task_2"></li>
            <li data-i18n="parcours.fiacat_task_3"></li>
            <li data-i18n="parcours.fiacat_task_4"></li>
        </ul>
    </div>

    <div class="fade-in quality-card">
        <h1about class="fade-in h1about" data-i18n="parcours.w4_title"></h1about>
        <p data-i18n="parcours.w4_location"></p>
        <p data-i18n="parcours.w4_period"></p>
        <br>
        <ul class="task-list" style="list-style-type: none; padding-left: 0;">
            <li data-i18n="parcours.w4_task_1"></li>
            <li data-i18n="parcours.w4_task_2"></li>
            <li data-i18n="parcours.w4_task_3"></li>
            <li data-i18n="parcours.w4_task_4"></li>
        </ul>
    </div>

    <div class="fade-in quality-card">
        <h1about class="fade-in h1about" data-i18n="parcours.samatoa_title"></h1about>
        <p data-i18n="parcours.samatoa_location"></p>
        <p data-i18n="parcours.samatoa_period"></p>
        <br>
        <ul class="task-list" style="list-style-type: none; padding-left: 0;">
            <li data-i18n="parcours.samatoa_task_1"></li>
            <li data-i18n="parcours.samatoa_task_2"></li>
        </ul>
    </div>
</section>