<!-- templates/parcours.html -->

<section class="projects-header">
    <h1 data-aos="fade-down">Mes diplômes :</h1>
</section>

  <!-- DIPLOMES -->
  <section class="fade-in qualities-section">
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about">École 42</h1about>
        <p>📍42 Paris</p>
        <p>2022-2024</p>
        <p>Tronc commun terminé en décembre 2024</p>
    </div>
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about">Master Coopération et Solidarité Internationale</h1about>
        <p>📍Universite d'Evry</p>
        <p>2015-2017</p>
    </div>
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about">Licence Administration Economique et Sociale </h1about>
        <p>📍Universite d'Evry</p>
        <p>2014-2015</p>
    </div>
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about">BTS Comptabilité et Gestion des Organisations </h1about>
        <p>📍Lycée DESCARTES</p>
        <p>2011-2013</p>
    </div>
  </section>
  


  <!-- EXPERIENCES PROS -->
<section class="projects-header">
    <h1 data-aos="fade-down">Mes expériences professionnels :</h1>
</section>

<section class="fade-in qualities-section">
    <div class="fade-in quality-card">
        <h1about class="fade-in h1about">Chargée de mission administrative et financière</h1about>
        <p>📍Fédération Internationale des ACAT (FIACAT) ONG </p>
        <p>Février 2019 à septembre 2022</p>
        <br>
        <li>Gestion administrative et financière des projets</li>
        <li>Organisation logistique des projets</li>
        <li>Recherche de financements</li>
        <li>Gestion administrative et comptable</li>
        <!-- <p>Assure la gestion administrative et financière des projets (notamment pour le projet peine de mort et détention préventive abusive au Tchad)</p>
        <p>Organise la logistique des projets</p>
        <p>Participe à la recherche de financements</p>
        <p>Contribue à la gestion administrative et comptable</p> -->
    </div>

    <div class="fade-in quality-card">
        <h1about class="fade-in h1about">Coordinatrice de terrain – Programme Tunisie</h1about>
        <p>📍Association Women’s WorldWide Web (W4)</p>
        <p>Janvier 2018 / Janvier 2019</p>
        <br>
        <li>Suivi des femmes en formation</li>
        <li>Rédaction de rapports et compte-rendus</li>
        <li>Collecte et évaluation de l'impact du programme</li>
        <li>Appui à la communication et recherche de fonds</li>
        <!-- <p>Accompagnement conjoint dans le suivi des femmes dans leur formation</p>
        <p>Appui à la rédaction de compte-rendus et de rapports des réunions avec les femmes </p>
        <p>Collecte d’informations utilisées pour évaluer l’impact du programme et faire le lien avec l’équipe de Paris</p>
        <p>Collecte d’informations utilisées pour communiquer autour du programme et appuyer la recherche de fonds</p>
        <p>Appui à la rédaction de rapports d’impact concernant le programme en Tunisie</p> -->
    </div>

    <div class="fade-in quality-card">
        <h1about class="fade-in h1about">Chargée de mission développement social</h1about>
        <p>📍Samatoa Lotus Textiles (Cambodge) - ESS</p>
        <p>Avril 2017 à Septembre 2017</p>
        <br>
        <li>Évaluation des performances sociales</li>
        <li>Recherche de certifications</li>
        <!-- <p>Réalisation de l’évaluation des performances et de l’impact social</p>
        <p>Recherche de certifications (B Corps, SA8000)</p> -->

    </div>

  </section>