<!-- templates/project.html -->

<section class="projects-header">
    <h1 data-aos="fade-down">Mes Projets</h1>
    <p data-aos="fade-up" data-aos-delay="300">Voici une sélection de projets réalisés durant ma formation à l'École 42 ainsi que dans le cadre de projets personnels</p>
</section>

<div class="projects-container">

    <h2 class="fade-in">Projets personnels :</h2>

    <!-- TimeQuest -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <!-- <img src="assets/images/projects/timequest.png" alt="TimeQuest"> -->
            <img src="assets/images/projects/TimeQuest.gif" alt="TimeQuest">
        </div>
        <div class="project-info">
            <h1project class="h1project">TimeQuest</h1project>
            <p>TimeQuest est un jeu mobile où les joueurs doivent deviner le plus rapidement possible la date d'événements marquants. Jouable en solo ou en multijoueur.</p>
            <p>Projet réalisé à 2</p>
            <p>🚧 Ce projet est encore en cours de réalisation 🚧</p>
            <div class="tech-stack">
                <span>TypeScript</span>
                <span>Javascript</span>
                <span>React Native</span>
                <!-- <span>Firebase</span> -->
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/MobileApp" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Mon portfolio -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/portfolio.gif" alt="Ft_transcendence">
        </div>
        <div class="project-info">
            <h1project class="h1project">Mon portfolio</h1project>
            <p>Réalisation et conception du front-end de ce site afin de présenter mes projets</p>
            <div class="tech-stack">
                <span>Javascript</span>
                <span>CSS</span>
                <span>Html</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/AGaelleB.github.io" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>


    <h2 class="fade-in">Projets réalisés à l'École <a href="https://42.fr/" target="_blank" rel="noopener noreferrer"><img src="assets/images/icons/42w.png" alt="Logo 42" class="quarantedeux-logo"></a> :</h2>

    <!-- Ft_transcendence -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/ft_transcendence2.gif" alt="Ft_transcendence">
        </div>
        <div class="project-info">
            <h1project class="h1project">Ft_transcendence</h1project>
            <p>Projet final de l'ecole 42 visant à réaliser un jeu pong et intégrer des fonctionnalités avancées</p>
            <p>Projet de groupe réalisé à 4</p>
            <div class="tech-stack">
                <span>Javascript</span>
                <span>CSS</span>
                <span>Html</span>
                <span>Python</span>
                <span>Django</span>
                <span>Shell</span>
                <span>Makefile</span>
                <span>Dockerfile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/15-ft_transcendence" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Inception -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Inception.webp" alt="Inception">
        </div>
        <div class="project-info">
            <h1project class="h1project">Inception</h1project>
            <p>Configuration et orchestration de conteneurs Docker pour une infrastructure de développement en réseau</p>
            <div class="tech-stack">
                <span>Dockerfile</span>
                <span>MySQL</span>
                <span>MariaDB</span>
                <span>Nginx</span>
                <span>Makefile</span>
                <span>Wordpress</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/14-Inception" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Ft_irc -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Ft_irc.png" alt="Ft_irc">
        </div>
        <div class="project-info">
            <h1project class="h1project">Ft_irc</h1project>
            <p>Implémentation d'un serveur IRC en C++ permettant une communication en réseau et une gestion de clients multiples</p>
            <p>Projet de groupe réalisé à 2</p>
            <div class="tech-stack">
                <span>C++</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/13-FT_IRC" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Piscine C++ -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/cpp.png" alt="Piscine">
        </div>
        <div class="project-info">
            <h1project class="h1project">Piscine C++</h1project>
            <p>Introduction à la programmation orientée objet avec C++, couvrant ses bases et fonctionnalités avancées</p>
            <div class="tech-stack">
                <span>C++</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/12-CPP" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Cub3D -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Cub3D.gif" alt="Cub3D">
        </div>
        <div class="project-info">
            <h1project class="h1project">Cub3D</h1project>
            <p>Jeu en 3D inspiré de Wolfenstein, utilisant des techniques de raycasting pour afficher un monde immersif</p>
            <p>Projet de groupe réalisé à 2</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
                <span>Shell</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/11-Cub3D" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- NetPractice -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/NetPractice.png" alt="NetPractice">
        </div>
        <div class="project-info">
            <h1project class="h1project">NetPractice</h1project>
            <p>Projet d'initiation sur les concepts fondamentaux des systèmes réseaux</p>
            <div class="tech-stack">
                <span>TCP/IP</span>
                <span>Architecture réseau</span>
                <span>Network</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/10-NetPractice" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Minishell -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/minishell.png" alt="Minishell">
        </div>
        <div class="project-info">
            <h1project class="h1project">Minishell</h1project>
            <p>Création d'un shell en C (gestion des commandes, pipes, redirections, ...)</p>
            <p>Projet de groupe réalisé à 2</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
                <span>Bash</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/09-Minishell" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Philosophers -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Philosophers.png" alt="Philosophers">
        </div>
        <div class="project-info">
            <h1project class="h1project">Philosophers</h1project>
            <p>Simulation du problème des philosophes mangeurs, explorant la programmation concurrente et la gestion des threads</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/08-Philosophers" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Pipex -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Pipex.png" alt="Pipex">
        </div>
        <div class="project-info">
            <h1project class="h1project">Pipex</h1project>
            <p>Projet qui consiste à recréer une version simplifiée de la commande Unix pipe, permettant la communication entre processus via des tubes en C</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/07-Pipex" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>    

    <!-- Push_swap -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/push_swap.gif" alt="Philosophers">
        </div>
        <div class="project-info">
            <h1project class="h1project">Push_swap</h1project>
            <p>Algorithmes de tri en C, avec optimisation pour trier une pile avec un minimum de mouvements</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/06-Push_swap" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- So_long -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/so_long.gif" alt="So_long">
        </div>
        <div class="project-info">
            <h1project class="h1project">So_long</h1project>
            <p>Jeu 2D simple en C, combinant gestion d'événements, logique de jeu, et affichage graphique avec la bibliothèque MiniLibX</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/05-So_long" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Born2beroot -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Born2beroot.png" alt="Born2beroot">
        </div>
        <div class="project-info">
            <h1project class="h1project">Born2beroot</h1project>
            <p>Projet d'administration système, avec installation et configuration d'une machine virtuelle sécurisée</p>
            <div class="tech-stack">
                <span>Debian</span>
                <span>Bash</span>
                <span>Script</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/04-Born2beroot" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Get_next_line -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/gnl.png" alt="Get_next_line">
        </div>
        <div class="project-info">
            <h1project class="h1project">Get_next_line</h1project>
            <p>Création d'une fonction pour lire une ligne d'un fichier à la fois, un défi pour comprendre la gestion des buffers en C</p>
            <div class="tech-stack">
                <span>C</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/03-Get_next_line" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Ft_printf -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Ft_printf.png" alt="Ft_printf">
        </div>
        <div class="project-info">
            <h1project class="h1project">Ft_printf</h1project>
            <p>Réalisation d'une version personnelle de la fonction printf, mettant en avant la gestion des formats et la manipulation avancée de chaînes en C</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/02-Ft_printf" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Libft -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Libft.jpg" alt="Libft">
        </div>
        <div class="project-info">
            <h1project class="h1project">Libft</h1project>
            <p>Développement d'une bibliothèque standard en C, recréant des fonctions de base pour renforcer la compréhension des mécanismes du langage</p>
            <div class="tech-stack">
                <span>C</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/01-Libft" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

</div>
