<!-- templates/project.html -->

<!-- templates/project.html -->

<section class="projects-header">
    <h1 data-aos="fade-down">Mes Projets</h1>
    <p data-aos="fade-up" data-aos-delay="300">Voici une sélection de projets réalisés durant ma formation à l'École 42 ainsi que dans le cadre de projets personnels</p>
</section>

<div class="projects-container">

    <!-- TimeQuest -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/timequest.png" alt="TimeQuest">
        </div>
        <div class="project-info">
            <h1project class="h1project">TimeQuest</h1project>
            <p>TimeQuest est un jeu mobile où les joueurs doivent deviner le plus rapidement possible la date d'événements marquants. Jouable en solo ou en multijoueur.</p>
            <div class="tech-stack">
                <span>TypeScript</span>
                <span>Javascript</span>
                <span>React Native</span>
                <!-- <span>Firebase</span> -->
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/MobileApp" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Ft_transcendence -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/ft_transcendence2.gif" alt="TimeQuest">
        </div>
        <div class="project-info">
            <h1project class="h1project">Ft_transcendence</h1project>
            <p>Projet final de l'ecole 42 visant à réaliser un jeu pong et intégrer des fonctionnalités avancées.</p>
            <div class="tech-stack">
                <span>Javascript</span>
                <span>CSS</span>
                <span>Html</span>
                <span>Python</span>
                <span>Shell</span>
                <span>Makefile</span>
                <span>Dockerfile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/15-ft_transcendence" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Inception -->
    <div class="project-card" data-aos="fade-up">
        <div class="project-image">
            <img src="assets/images/projects/Inception.webp" alt="TimeQuest">
        </div>
        <div class="project-info">
            <h1project class="h1project">Inception</h1project>
            <p>Configuration et orchestration de conteneurs Docker pour une infrastructure de développement en réseau.</p>
            <div class="tech-stack">
                <span>HTML</span>
                <span>Dockerfile</span>
                <span>Shell</span>
                <span>Makefile</span>
            </div>
            <div class="github-link">
                <a href="https://github.com/AGaelleB/14-Inception" target="_blank">
                    <i class="bi bi-github" aria-label="GitHub Logo"></i>
                </a>
            </div>
        </div>
    </div>


</div>
